{"swagger":"2.0","info":{"title":"BambooHR","description":"BambooHR API for the SASS BambooHR platform that brings all your employee, payroll, time, and benefit information together in one place, giving you the data accuracy, security, and coordination you need to sleep soundly.","version":"1.0"},"host":"api.bamboohr.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/api/gateway.php/{companyDomain}/v1/company_information/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"legalName":{"type":"string","description":"legalName"},"displayName":{"type":"string","description":"displayName"},"address":{"type":"object","properties":{"line1":{"type":"string","description":"line1"},"line2":{"type":"string","description":"line2"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"zip":{"type":"string","description":"zip"}},"description":"address"},"phone":{"type":"string","description":"phone"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Get Company Information","description":"Get Company Information","operationId":"GetCompanyInformation","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"The subdomain used to access BambooHR.","x-ms-summary":"Company Domain"}]}},"/api/gateway.php/{companyDomain}/v1/employees/{employeeId}/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"firstName":{"type":"string","description":"firstName"},"lastName":{"type":"string","description":"lastName"}}}}},"summary":"Get Employee","description":"Get Employee","operationId":"GetEmployee","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"The subdomain used to access BambooHR.","x-ms-summary":"Company Domain"},{"name":"employeeId","in":"path","required":true,"type":"string","default":"\"0\""},{"name":"fields","in":"query","required":false,"type":"string"},{"name":"onlyCurrent","in":"query","required":false,"type":"boolean"},{"name":"Accept","in":"header","required":false,"type":"string"}]}},"/api/gateway.php/{companyDomain}/v1/employees/directory":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"fields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"type":{"type":"string","description":"type"},"name":{"type":"string","description":"name"}}},"description":"fields"},"employees":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"displayName":{"type":"string","description":"displayName"},"firstName":{"type":"string","description":"firstName"},"lastName":{"type":"string","description":"lastName"},"preferredName":{"type":"string","description":"preferredName"},"jobTitle":{"type":"string","description":"jobTitle"},"workPhone":{"type":"string","description":"workPhone"},"mobilePhone":{"type":"string","description":"mobilePhone"},"workEmail":{"type":"string","description":"workEmail"},"department":{"type":"string","description":"department"},"location":{"type":"string","description":"location"},"division":{"type":"string","description":"division"},"facebook":{"type":"string","description":"facebook"},"linkedIn":{"type":"string","description":"linkedIn"},"twitterFeed":{"type":"string","description":"twitterFeed"},"pinterest":{"type":"string","description":"pinterest"},"instagram":{"type":"string","description":"instagram"},"pronouns":{"type":"string","description":"pronouns"},"workPhoneExtension":{"type":"string","description":"workPhoneExtension"},"supervisor":{"type":"string","description":"supervisor"},"photoUploaded":{"type":"boolean","description":"photoUploaded"},"photoUrl":{"type":"string","description":"photoUrl"},"canUploadPhoto":{"type":"integer","format":"int32","description":"canUploadPhoto"}}},"description":"employees"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Get Employees","description":"Get Employees","operationId":"GetEmployees","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"The subdomain used to access BambooHR.","x-ms-summary":"Company Domain"},{"name":"Accept","in":"header","required":false,"type":"string"}]}},"/api/gateway.php/{companyDomain}/v1/meta/time_off/types/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"timeOffTypes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"units":{"type":"string","description":"units"},"color":{"type":"string","description":"color"},"icon":{"type":"string","description":"icon"}}},"description":"timeOffTypes"},"defaultHours":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"amount":{"type":"string","description":"amount"}}},"description":"defaultHours"}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Get Time Off Types","description":"Get Time Off Types","operationId":"GetTimeOffTypes","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"The subdomain used to access BambooHR.","x-ms-summary":"Company Domain"},{"name":"Accept","in":"header","required":false,"type":"string"}]}},"/api/gateway.php/{companyDomain}/v1/meta/time_off/policies/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"id"},"timeOffTypeId":{"type":"integer","format":"int32","description":"timeOffTypeId"},"name":{"type":"string","description":"name"},"effectiveDate":{"type":"string","description":"effectiveDate"},"type":{"type":"string","description":"type"}}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Get Time Off Policies","description":"Get Time Off Policies","operationId":"GetTimeOffPolicies","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"The subdomain used to access BambooHR.","x-ms-summary":"Company Domain"},{"name":"Accept","in":"header","required":false,"type":"string"}]}},"/api/gateway.php/{companyDomain}/v1/employees/{employeeId}/time_off/calculator":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"timeOffType":{"type":"string","description":"timeOffType"},"name":{"type":"string","description":"name"},"units":{"type":"string","description":"units"},"balance":{"type":"string","description":"balance"},"end":{"type":"string","description":"end"},"policyType":{"type":"string","description":"policyType"},"usedYearToDate":{"type":"string","description":"usedYearToDate"}}}},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}}},"summary":"Estimate Future Time Off Balances","description":"Estimate Future Time Off Balances","operationId":"EstimateFutureTimeOffBalances","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string","description":"Company Domain","x-ms-summary":"Company Domain"},{"name":"employeeId","in":"path","required":true,"type":"string","description":"Employee Id","x-ms-summary":"Employee Id"},{"name":"end","in":"query","required":false,"type":"string","description":"End date in the form YYYY-MM-DD","x-ms-summary":"End date"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","description":"Accept","x-ms-summary":"Accept"}]}},"/api/gateway.php/{companyDomain}/v1/employees/{employeeId}/time_off/request":{"put":{"responses":{"201":{"description":"default","schema":{"type":"string"}},"404":{"description":"default","schema":{"type":"string"},"headers":{"Content-Type":{"description":"Content-Type","type":"string"}}},"default":{"description":"default","schema":{}}},"summary":"Add a Time Off Request","description":"Add a Time Off Request","operationId":"AddATimeOffRequest","parameters":[{"name":"companyDomain","in":"path","required":true,"type":"string"},{"name":"employeeId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"start":{"type":"string","description":"start"},"end":{"type":"string","description":"end"},"timeOffTypeId":{"type":"string","description":"timeOffTypeId"},"amount":{"type":"string","description":"amount"},"notes":{"type":"array","items":{"type":"object","properties":{"from":{"type":"string","description":"from"},"note":{"type":"string","description":"note"}}},"description":"notes"}}}}]}},"/api/gateway.php/:companyDomain/v1/employees/{employeeId}/time_off/calculator":{}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"basic-auth":{"type":"basic"}},"security":[{"basic-auth":[]}],"tags":[]}