{"swagger":"2.0","info":{"title":"Jira API","description":"REST API for Jira which is a software product developed by Atlassian that allows bug tracking, issue tracking and agile project management.","version":"1.0"},"host":"davidcastro.atlassian.net","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/rest/agile/1.0/board/{boardId}/sprint":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get all sprints","description":"Get all sprints","operationId":"GetAllSprints","parameters":[{"name":"boardId","in":"path","required":true,"type":"string","x-ms-summary":"Board Id","description":"Board Id"},{"name":"state","in":"query","required":false,"type":"string"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json","description":"Content Type","x-ms-summary":"Content Type"}]}},"/rest/agile/1.0/board/{boardId}/sprint/{sprintId}/issue":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get board issues for sprint","description":"Get board issues for sprint","operationId":"GetBoardIssuesSprint","parameters":[{"name":"boardId","in":"path","required":true,"type":"string","description":"Board Id","x-ms-summary":"Board Id"},{"name":"sprintId","in":"path","required":true,"type":"string","description":"Sprint Id","x-ms-summary":"Sprint Id"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","description":"Accept","x-ms-summary":"Accept"}]}},"/gateway/api/public/teams/v1/org/{orgId}/teams/{teamId}/members":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get team members","description":"Get team members","operationId":"GetTeamMembers","parameters":[{"name":"orgId","in":"path","required":true,"type":"string","description":"Org Id","x-ms-summary":"Org Id"},{"name":"teamId","in":"path","required":true,"type":"string","description":"Team Id","x-ms-summary":"Team Id"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","description":"Accept","x-ms-summary":"Accept"}]}},"/rest/api/3/user/bulk":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Bulk get users","description":"Bulk get users","operationId":"BulkGetUsers","parameters":[{"name":"accountId","in":"query","required":false,"type":"string","description":"Account Id","x-ms-summary":"Account Id"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","description":"Accept","x-ms-summary":"Accept"}]}},"/rest/api/3/field":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Get Fields","description":"Get Fields","operationId":"GetFields","parameters":[{"name":"Accept","in":"header","required":false,"type":"string"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"basic-auth":{"type":"basic"}},"security":[{"basic-auth":[]}],"tags":[]}